# mod_rewrite required
<IfModule mod_rewrite.c>
    # Enable RewriteEngine
    RewriteEngine on

    # favicon.ico
    RewriteRule ^favicon.ico$ /assets/favicon.ico [END]

    # Assets
    RewriteRule ^assets(.*) /assets/$1 [END]

    # POST
    # File Upload
    RewriteRule ^post--connect/(.*) /php/post/$1.php [END]

    # Send the others accesses to the mainController
    RewriteRule ^.*$ /controller/main.php [END]
</IfModule>
