Use Master;

ALTER TABLE `config`
    DISABLE KEYS;
INSERT INTO `config` (`name`, `value`)
VALUES
	('discord_oauth2_client_id', ''),
	('discord_oauth2_client_secret', ''),
	('discord_oauth2_redirect_path', ''),
	('root_uri', ''),
	('bot_token', ''),
	('bot_owner_id', ''),
    ('twitter_key', ''),
    ('twitter_secret_key', ''),
    ('twitter_bearer', ''),
    ('twitter_token', ''),
    ('twitter_secret_token', '');
ALTER TABLE `config`
    ENABLE KEYS;
